/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:90%; max-width:50em; margin:auto; text-align:justify; }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.alltt		{   }
DIV.center		{   }
DIV.navigation		{   }
PRE.preform		{   }
SPAN.tt		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textit		{ font-style: italic  }
SPAN.texttt		{ font-family: monospace  }
#cbox1938		{ background-color: #f7f7f7;  }
#cbox1947		{ background-color: #f7f7f7;  }
#cbox1956		{ background-color: #f7f7f7;  }
#cbox1965		{ background-color: #f7f7f7;  }
#cbox1974		{ background-color: #f7f7f7;  }
#cbox1983		{ background-color: #f7f7f7;  }
#cbox2004		{ background-color: #f7f7f7;  }
#cbox2013		{ background-color: #f7f7f7;  }
#cbox2022		{ background-color: #f7f7f7;  }
#cbox2031		{ background-color: #f7f7f7;  }
#cbox2040		{ background-color: #f7f7f7;  }
#cbox2049		{ background-color: #f7f7f7;  }
#cbox2058		{ background-color: #f7f7f7;  }
#cbox2067		{ background-color: #f7f7f7;  }
#cbox2076		{ background-color: #f7f7f7;  }
#cbox2085		{ background-color: #f7f7f7;  }
#cbox2094		{ background-color: #f7f7f7;  }
#cbox2103		{ background-color: #f7f7f7;  }
#cbox2112		{ background-color: #f7f7f7;  }
#cbox2121		{ background-color: #f7f7f7;  }
#cbox2130		{ background-color: #f7f7f7;  }
#cbox2139		{ background-color: #f7f7f7;  }
#cbox2148		{ background-color: #f7f7f7;  }
#cbox2157		{ background-color: #f7f7f7;  }
#cbox2166		{ background-color: #f7f7f7;  }
#cbox2175		{ background-color: #f7f7f7;  }
#cbox2184		{ background-color: #f7f7f7;  }
#cbox2193		{ background-color: #f7f7f7;  }
#cbox2202		{ background-color: #f7f7f7;  }
#cbox2211		{ background-color: #f7f7f7;  }
#hue2213		{ color: #b05a65;  }
#hue2215		{ color: #585858;  }
#hue2217		{ color: #b05a65;  }
#hue2219		{ color: #317ecc;  }
#hue2221		{ color: #585858;  }
#hue2223		{ color: #b05a65;  }
#hue2225		{ color: #af0f91;  }
#hue2227		{ color: #585858;  }
#hue2229		{ color: #b05a65;  }
#hue2231		{ color: #bc5a65;  }
#hue2234		{ color: #585858;  }
#hue2236		{ color: #317ecc;  }
#hue2238		{ color: #585858;  }
#hue2240		{ color: #000000;  }
#hue2242		{ color: #bc5a65;  }
#hue2245		{ color: #585858;  }
#hue2247		{ color: #585858;  }
#hue2249		{ color: #585858;  }
#hue2251		{ color: #b05a65;  }
#hue2253		{ color: #bc5a65;  }
#hue2256		{ color: #585858;  }
#hue2258		{ color: #bc5a65;  }
#hue2261		{ color: #585858;  }
#hue2263		{ color: #000000;  }
#hue2265		{ color: #585858;  }
#hue2267		{ color: #585858;  }
#hue2269		{ color: #000000;  }
#hue2271		{ color: #585858;  }
#hue2273		{ color: #000000;  }
#hue2275		{ color: #585858;  }
#hue2277		{ color: #585858;  }
#hue2279		{ color: #000000;  }
#hue2281		{ color: #585858;  }
#hue2283		{ color: #bc5a65;  }
#hue2286		{ color: #585858;  }
#hue2288		{ color: #317ecc;  }
#hue2290		{ color: #000000;  }
#hue2292		{ color: #585858;  }
#hue2294		{ color: #000000;  }
#hue2296		{ color: #585858;  }
#hue2298		{ color: #bc5a65;  }
#hue2301		{ color: #585858;  }
#hue2303		{ color: #585858;  }
#hue2305		{ color: #b05a65;  }
#hue2307		{ color: #317ecc;  }
#hue2309		{ color: #585858;  }
#hue2311		{ color: #b05a65;  }
#hue2313		{ color: #af0f91;  }
#hue2315		{ color: #585858;  }
#hue2317		{ color: #b05a65;  }
#hue2319		{ color: #bc5a65;  }
#hue2322		{ color: #585858;  }
#hue2324		{ color: #317ecc;  }
#hue2326		{ color: #585858;  }
#hue2328		{ color: #000000;  }
#hue2330		{ color: #bc5a65;  }
#hue2333		{ color: #585858;  }
#hue2335		{ color: #585858;  }
#hue2337		{ color: #585858;  }
#hue2339		{ color: #b05a65;  }
#hue2341		{ color: #585858;  }
#hue2343		{ color: #000000;  }
#hue2345		{ color: #bc5a65;  }
#hue2348		{ color: #585858;  }
#hue2350		{ color: #bc5a65;  }
#hue2353		{ color: #585858;  }
#hue2355		{ color: #317ecc;  }
#hue2357		{ color: #585858;  }
#hue2359		{ color: #317ecc;  }
#hue2361		{ color: #585858;  }
#hue2363		{ color: #585858;  }
#hue2365		{ color: #b05a65;  }
#hue2367		{ color: #585858;  }
#hue2369		{ color: #000000;  }
#hue2371		{ color: #bc5a65;  }
#hue2374		{ color: #585858;  }
#hue2376		{ color: #bc5a65;  }
#hue2379		{ color: #585858;  }
#hue2381		{ color: #bc5a65;  }
#hue2384		{ color: #585858;  }
#hue2386		{ color: #317ecc;  }
#hue2388		{ color: #585858;  }
#hue2390		{ color: #bc5a65;  }
#hue2393		{ color: #585858;  }
#hue2395		{ color: #000000;  }
#hue2397		{ color: #bc5a65;  }
#hue2400		{ color: #585858;  }
#hue2402		{ color: #ad95af;  }
#hue2405		{ color: #bc5a65;  }
#hue2408		{ color: #585858;  }
#hue2410		{ color: #000000;  }
#hue2412		{ color: #585858;  }
#hue2414		{ color: #000000;  }
#hue2416		{ color: #585858;  }
#hue2418		{ color: #55aa55;  }
#hue2420		{ color: #585858;  }
#hue2422		{ color: #317ecc;  }
#hue2424		{ color: #585858;  }
#hue2426		{ color: #bc5a65;  }
#hue2429		{ color: #585858;  }
#hue2431		{ color: #bc5a65;  }
#hue2434		{ color: #585858;  }
#hue2436		{ color: #317ecc;  }
#hue2438		{ color: #585858;  }
#hue2440		{ color: #317ecc;  }
#hue2442		{ color: #585858;  }
#hue2444		{ color: #bc5a65;  }
#hue2447		{ color: #585858;  }
#hue2449		{ color: #bc5a65;  }
#hue2452		{ color: #585858;  }
#hue2454		{ color: #317ecc;  }
#hue2456		{ color: #585858;  }
#hue2458		{ color: #317ecc;  }
#hue2460		{ color: #585858;  }
#hue2462		{ color: #bc5a65;  }
#hue2465		{ color: #585858;  }
#hue2467		{ color: #585858;  }
#hue2469		{ color: #000000;  }
#hue2471		{ color: #bc5a65;  }
#hue2474		{ color: #585858;  }
#hue2476		{ color: #000000;  }
#hue2478		{ color: #ad95af;  }
#hue2481		{ color: #585858;  }
#hue2483		{ color: #000000;  }
#hue2485		{ color: #bc5a65;  }
#hue2488		{ color: #585858;  }
#hue2490		{ color: #000000;  }
#hue2492		{ color: #af0f91;  }
#hue2494		{ color: #585858;  }
#hue2496		{ color: #000000;  }
#hue2498		{ color: #ad95af;  }
#hue2501		{ color: #585858;  }
#hue2503		{ color: #000000;  }
#hue2505		{ color: #bc5a65;  }
#hue2508		{ color: #585858;  }
#hue2510		{ color: #000000;  }
#hue2512		{ color: #ad95af;  }
#hue2515		{ color: #585858;  }
#hue2517		{ color: #000000;  }
#hue2519		{ color: #bc5a65;  }
#hue2522		{ color: #585858;  }
#hue2524		{ color: #55aa55;  }
#hue2526		{ color: #585858;  }
#hue2528		{ color: #000000;  }
#hue2530		{ color: #585858;  }
#hue2532		{ color: #000000;  }
#hue2534		{ color: #ad95af;  }
#hue2537		{ color: #585858;  }
#hue2539		{ color: #000000;  }
#hue2541		{ color: #bc5a65;  }
#hue2544		{ color: #585858;  }
#hue2546		{ color: #af0f91;  }
#hue2548		{ color: #585858;  }
#hue2550		{ color: #af0f91;  }
#hue2552		{ color: #585858;  }
#hue2554		{ color: #000000;  }
#hue2556		{ color: #ad95af;  }
#hue2559		{ color: #585858;  }
#hue2561		{ color: #000000;  }
#hue2563		{ color: #bc5a65;  }
#hue2566		{ color: #585858;  }
#hue2568		{ color: #55aa55;  }
#hue2570		{ color: #585858;  }
#hue2572		{ color: #bc5a65;  }
#hue2575		{ color: #585858;  }
#hue2577		{ color: #317ecc;  }
#hue2579		{ color: #585858;  }
#hue2581		{ color: #317ecc;  }
#hue2583		{ color: #585858;  }
#hue2585		{ color: #317ecc;  }
#hue2587		{ color: #585858;  }
#hue2589		{ color: #ad95af;  }
#hue2592		{ color: #585858;  }
#hue2594		{ color: #000000;  }
#hue2596		{ color: #bc5a65;  }
#hue2599		{ color: #585858;  }
#hue2601		{ color: #af0f91;  }
#hue2603		{ color: #585858;  }
#hue2605		{ color: #af0f91;  }
#hue2607		{ color: #585858;  }
#hue2609		{ color: #000000;  }
#hue2611		{ color: #585858;  }
#hue2613		{ color: #000000;  }
#hue2615		{ color: #bc5a65;  }
#hue2618		{ color: #585858;  }
#hue2620		{ color: #000000;  }
#hue2622		{ color: #bc5a65;  }
#hue2625		{ color: #585858;  }
#hue2627		{ color: #55aa55;  }
#hue2629		{ color: #585858;  }
#hue2631		{ color: #317ecc;  }
#hue2633		{ color: #585858;  }
#hue2635		{ color: #55aa55;  }
#hue2637		{ color: #585858;  }
#hue2639		{ color: #317ecc;  }
#hue2641		{ color: #585858;  }
#hue2643		{ color: #bc5a65;  }
#hue2646		{ color: #585858;  }
#hue2648		{ color: #bc5a65;  }
#hue2651		{ color: #585858;  }
#hue2653		{ color: #af0f91;  }
#hue2655		{ color: #000000;  }
#hue2657		{ color: #af0f91;  }
#hue2659		{ color: #585858;  }
#hue2661		{ color: #55aa55;  }
#hue2663		{ color: #585858;  }
#hue2665		{ color: #af0f91;  }
#hue2667		{ color: #585858;  }
#hue2669		{ color: #55aa55;  }
#hue2671		{ color: #585858;  }
#hue2673		{ color: #bc5a65;  }
#hue2676		{ color: #585858;  }
#hue2678		{ color: #af0f91;  }
#hue2680		{ color: #585858;  }
#hue2682		{ color: #af0f91;  }
#hue2684		{ color: #585858;  }
#hue2686		{ color: #55aa55;  }
#hue2688		{ color: #585858;  }
#hue2690		{ color: #bc5a65;  }
#hue2693		{ color: #585858;  }
#hue2695		{ color: #af0f91;  }
#hue2697		{ color: #585858;  }
#hue2699		{ color: #af0f91;  }
#hue2701		{ color: #585858;  }
#hue2703		{ color: #585858;  }
#hue2705		{ color: #b05a65;  }
#hue2707		{ color: #bc5a65;  }
#hue2710		{ color: #585858;  }
#hue2712		{ color: #55aa55;  }
#hue2714		{ color: #585858;  }
#hue2716		{ color: #bc5a65;  }
#hue2719		{ color: #585858;  }
#hue2721		{ color: #af0f91;  }
#hue2723		{ color: #585858;  }
#hue2725		{ color: #af0f91;  }
#hue2727		{ color: #585858;  }
#hue2729		{ color: #af0f91;  }
#hue2731		{ color: #585858;  }
#hue2733		{ color: #af0f91;  }
#hue2735		{ color: #585858;  }
#hue2737		{ color: #000000;  }
#hue2739		{ color: #af0f91;  }
#hue2741		{ color: #585858;  }
#hue2743		{ color: #55aa55;  }
#hue2745		{ color: #585858;  }
#hue2747		{ color: #bc5a65;  }
#hue2750		{ color: #585858;  }
#hue2752		{ color: #af0f91;  }
#hue2754		{ color: #585858;  }
#hue2756		{ color: #af0f91;  }
#hue2758		{ color: #585858;  }
#hue2760		{ color: #af0f91;  }
#hue2762		{ color: #585858;  }
#hue2764		{ color: #af0f91;  }
#hue2766		{ color: #585858;  }
#hue2768		{ color: #585858;  }
#hue2770		{ color: #000000;  }
#hue2772		{ color: #585858;  }
#hue2774		{ color: #000000;  }
#hue2776		{ color: #bc5a65;  }
#hue2779		{ color: #585858;  }
#hue2781		{ color: #000000;  }
#hue2783		{ color: #bc5a65;  }
#hue2786		{ color: #585858;  }
#hue2788		{ color: #55aa55;  }
#hue2790		{ color: #585858;  }
#hue2792		{ color: #bc5a65;  }
#hue2795		{ color: #585858;  }
#hue2797		{ color: #bc5a65;  }
#hue2800		{ color: #585858;  }
#hue2802		{ color: #317ecc;  }
#hue2804		{ color: #585858;  }
#hue2806		{ color: #317ecc;  }
#hue2808		{ color: #585858;  }
#hue2810		{ color: #585858;  }
#hue2812		{ color: #b05a65;  }
#hue2814		{ color: #bc5a65;  }
#hue2817		{ color: #585858;  }
#hue2819		{ color: #55aa55;  }
#hue2821		{ color: #585858;  }
#hue2823		{ color: #bc5a65;  }
#hue2826		{ color: #585858;  }
#hue2828		{ color: #af0f91;  }
#hue2830		{ color: #585858;  }
#hue2832		{ color: #af0f91;  }
#hue2834		{ color: #585858;  }
#hue2836		{ color: #af0f91;  }
#hue2838		{ color: #585858;  }
#hue2840		{ color: #af0f91;  }
#hue2842		{ color: #585858;  }
#hue2844		{ color: #000000;  }
#hue2846		{ color: #af0f91;  }
#hue2848		{ color: #585858;  }
#hue2850		{ color: #585858;  }
#hue2852		{ color: #000000;  }
#hue2854		{ color: #585858;  }
#hue2856		{ color: #000000;  }
#hue2858		{ color: #bc5a65;  }
#hue2861		{ color: #585858;  }
#hue2863		{ color: #000000;  }
#hue2865		{ color: #bc5a65;  }
#hue2868		{ color: #585858;  }
#hue2870		{ color: #55aa55;  }
#hue2872		{ color: #585858;  }
#hue2874		{ color: #bc5a65;  }
#hue2877		{ color: #585858;  }
#hue2879		{ color: #bc5a65;  }
#hue2882		{ color: #585858;  }
#hue2884		{ color: #317ecc;  }
#hue2886		{ color: #585858;  }
#hue2888		{ color: #585858;  }
#hue2890		{ color: #b05a65;  }
#hue2892		{ color: #317ecc;  }
#hue2894		{ color: #ad95af;  }
#hue2897		{ color: #585858;  }
#hue2899		{ color: #b05a65;  }
#hue2901		{ color: #af0f91;  }
#hue2903		{ color: #585858;  }
#hue2905		{ color: #b05a65;  }
#hue2907		{ color: #bc5a65;  }
#hue2910		{ color: #585858;  }
#hue2912		{ color: #317ecc;  }
#hue2914		{ color: #585858;  }
#hue2916		{ color: #317ecc;  }
#hue2918		{ color: #585858;  }
#hue2920		{ color: #317ecc;  }
#hue2922		{ color: #585858;  }
#hue2924		{ color: #317ecc;  }
#hue2926		{ color: #585858;  }
#hue2928		{ color: #317ecc;  }
#hue2930		{ color: #585858;  }
#hue2932		{ color: #317ecc;  }
#hue2934		{ color: #585858;  }
#hue2936		{ color: #585858;  }
#hue2938		{ color: #b05a65;  }
#hue2940		{ color: #bc5a65;  }
#hue2943		{ color: #585858;  }
#hue2945		{ color: #317ecc;  }
#hue2947		{ color: #585858;  }
#hue2949		{ color: #bc5a65;  }
#hue2952		{ color: #585858;  }
#hue2954		{ color: #585858;  }
#hue2956		{ color: #bc5a65;  }
#hue2959		{ color: #585858;  }
#hue2961		{ color: #bc5a65;  }
#hue2964		{ color: #585858;  }
#hue2966		{ color: #af0f91;  }
#hue2968		{ color: #585858;  }
#hue2970		{ color: #af0f91;  }
#hue2972		{ color: #585858;  }
#hue2974		{ color: #000000;  }
#hue2976		{ color: #bc5a65;  }
#hue2979		{ color: #585858;  }
#hue2981		{ color: #55aa55;  }
#hue2983		{ color: #585858;  }
#hue2985		{ color: #af0f91;  }
#hue2987		{ color: #585858;  }
#hue2989		{ color: #55aa55;  }
#hue2991		{ color: #585858;  }
#hue2993		{ color: #bc5a65;  }
#hue2996		{ color: #585858;  }
#hue2998		{ color: #317ecc;  }
#hue3000		{ color: #585858;  }
#hue3002		{ color: #317ecc;  }
#hue3004		{ color: #585858;  }
#hue3006		{ color: #317ecc;  }
#hue3008		{ color: #585858;  }
#hue3010		{ color: #55aa55;  }
#hue3012		{ color: #585858;  }
#hue3014		{ color: #bc5a65;  }
#hue3017		{ color: #585858;  }
#hue3019		{ color: #bc5a65;  }
#hue3022		{ color: #585858;  }
#hue3024		{ color: #317ecc;  }
#hue3026		{ color: #585858;  }
#hue3028		{ color: #317ecc;  }
#hue3030		{ color: #585858;  }
#hue3032		{ color: #55aa55;  }
#hue3034		{ color: #585858;  }
#hue3036		{ color: #bc5a65;  }
#hue3039		{ color: #585858;  }
#hue3041		{ color: #af0f91;  }
#hue3043		{ color: #585858;  }
#hue3045		{ color: #af0f91;  }
#hue3047		{ color: #585858;  }
#hue3049		{ color: #af0f91;  }
#hue3051		{ color: #585858;  }
#hue3053		{ color: #55aa55;  }
#hue3055		{ color: #585858;  }
#hue3057		{ color: #bc5a65;  }
#hue3060		{ color: #585858;  }
#hue3062		{ color: #af0f91;  }
#hue3064		{ color: #585858;  }
#hue3066		{ color: #af0f91;  }
#hue3068		{ color: #585858;  }
#hue3070		{ color: #af0f91;  }
#hue3072		{ color: #585858;  }
#hue3074		{ color: #55aa55;  }
#hue3076		{ color: #585858;  }
#hue3078		{ color: #bc5a65;  }
#hue3081		{ color: #585858;  }
#hue3083		{ color: #317ecc;  }
#hue3085		{ color: #585858;  }
#hue3087		{ color: #317ecc;  }
#hue3089		{ color: #585858;  }
#hue3091		{ color: #55aa55;  }
#hue3093		{ color: #585858;  }
#hue3095		{ color: #bc5a65;  }
#hue3098		{ color: #585858;  }
#hue3100		{ color: #317ecc;  }
#hue3102		{ color: #585858;  }
#hue3104		{ color: #317ecc;  }
#hue3106		{ color: #585858;  }
#hue3108		{ color: #317ecc;  }
#hue3110		{ color: #585858;  }
#hue3112		{ color: #55aa55;  }
#hue3114		{ color: #585858;  }
#hue3116		{ color: #bc5a65;  }
#hue3119		{ color: #585858;  }
#hue3121		{ color: #af0f91;  }
#hue3123		{ color: #585858;  }
#hue3125		{ color: #af0f91;  }
#hue3127		{ color: #585858;  }
#hue3129		{ color: #585858;  }
#hue3131		{ color: #585858;  }
#hue3133		{ color: #ad95af;  }
#hue3136		{ color: #585858;  }
#hue3138		{ color: #b05a65;  }
#hue3140		{ color: #bc5a65;  }
#hue3143		{ color: #585858;  }
#hue3145		{ color: #af0f91;  }
#hue3147		{ color: #585858;  }
#hue3149		{ color: #af0f91;  }
#hue3151		{ color: #585858;  }
#hue3153		{ color: #bc5a65;  }
#hue3156		{ color: #585858;  }
#hue3158		{ color: #bc5a65;  }
#hue3161		{ color: #585858;  }
#hue3163		{ color: #bc5a65;  }
#hue3166		{ color: #585858;  }
#hue3168		{ color: #55aa55;  }
#hue3170		{ color: #585858;  }
#hue3172		{ color: #bc5a65;  }
#hue3175		{ color: #585858;  }
#hue3177		{ color: #af0f91;  }
#hue3179		{ color: #585858;  }
#hue3181		{ color: #af0f91;  }
#hue3183		{ color: #585858;  }
#hue3185		{ color: #bc5a65;  }
#hue3188		{ color: #585858;  }
#hue3190		{ color: #bc5a65;  }
#hue3193		{ color: #585858;  }
#hue3195		{ color: #bc5a65;  }
#hue3198		{ color: #585858;  }
#hue3200		{ color: #55aa55;  }
#hue3202		{ color: #585858;  }
#hue3204		{ color: #bc5a65;  }
#hue3207		{ color: #585858;  }
#hue3209		{ color: #af0f91;  }
#hue3211		{ color: #585858;  }
#hue3213		{ color: #af0f91;  }
#hue3215		{ color: #585858;  }
#hue3217		{ color: #bc5a65;  }
#hue3220		{ color: #585858;  }
#hue3222		{ color: #000000;  }
#hue3224		{ color: #585858;  }
#hue3226		{ color: #000000;  }
#hue3228		{ color: #bc5a65;  }
#hue3231		{ color: #585858;  }
#hue3233		{ color: #000000;  }
#hue3235		{ color: #bc5a65;  }
#hue3238		{ color: #585858;  }
#hue3240		{ color: #55aa55;  }
#hue3242		{ color: #585858;  }
#hue3244		{ color: #317ecc;  }
#hue3246		{ color: #585858;  }
#hue3248		{ color: #bc5a65;  }
#hue3251		{ color: #585858;  }
#hue3253		{ color: #000000;  }
#hue3255		{ color: #bc5a65;  }
#hue3258		{ color: #585858;  }
#hue3260		{ color: #55aa55;  }
#hue3262		{ color: #585858;  }
#hue3264		{ color: #000000;  }
#hue3266		{ color: #585858;  }
#hue3268		{ color: #000000;  }
#hue3270		{ color: #ad95af;  }
#hue3273		{ color: #585858;  }
#hue3275		{ color: #000000;  }
#hue3277		{ color: #bc5a65;  }
#hue3280		{ color: #585858;  }
#hue3282		{ color: #000000;  }
#hue3284		{ color: #bc5a65;  }
#hue3287		{ color: #585858;  }
#hue3289		{ color: #000000;  }
#hue3291		{ color: #bc5a65;  }
#hue3294		{ color: #585858;  }
#hue3296		{ color: #bc5a65;  }
#hue3299		{ color: #585858;  }
#hue3301		{ color: #55aa55;  }
#hue3303		{ color: #585858;  }
#hue3305		{ color: #000000;  }
#hue3307		{ color: #bc5a65;  }
#hue3310		{ color: #585858;  }
#hue3312		{ color: #bc5a65;  }
#hue3315		{ color: #585858;  }
#hue3317		{ color: #55aa55;  }
#hue3319		{ color: #585858;  }
#hue3321		{ color: #55aa55;  }
#hue3323		{ color: #585858;  }
#hue3325		{ color: #317ecc;  }
#hue3327		{ color: #585858;  }
#hue3329		{ color: #000000;  }
#hue3331		{ color: #bc5a65;  }
#hue3334		{ color: #585858;  }
#hue3336		{ color: #bc5a65;  }
#hue3339		{ color: #585858;  }
#hue3341		{ color: #55aa55;  }
#hue3343		{ color: #585858;  }
#hue3345		{ color: #000000;  }
#hue3347		{ color: #585858;  }
#hue3349		{ color: #55aa55;  }
#hue3351		{ color: #585858;  }
#hue3353		{ color: #000000;  }
#hue3355		{ color: #585858;  }
#hue3357		{ color: #000000;  }
#hue3359		{ color: #bc5a65;  }
#hue3362		{ color: #585858;  }
#hue3364		{ color: #317ecc;  }
#hue3366		{ color: #585858;  }
#hue3368		{ color: #000000;  }
#hue3370		{ color: #bc5a65;  }
#hue3373		{ color: #585858;  }
#hue3375		{ color: #bc5a65;  }
#hue3378		{ color: #585858;  }
#hue3380		{ color: #bc5a65;  }
#hue3383		{ color: #585858;  }
#hue3385		{ color: #317ecc;  }
#hue3387		{ color: #585858;  }
#hue3389		{ color: #317ecc;  }
#hue3391		{ color: #585858;  }
#hue3393		{ color: #000000;  }
#hue3395		{ color: #bc5a65;  }
#hue3398		{ color: #585858;  }
#hue3400		{ color: #bc5a65;  }
#hue3403		{ color: #585858;  }
#hue3405		{ color: #000000;  }
#hue3407		{ color: #585858;  }
#hue3409		{ color: #000000;  }
#hue3411		{ color: #bc5a65;  }
#hue3414		{ color: #585858;  }
#hue3416		{ color: #000000;  }
#hue3418		{ color: #bc5a65;  }
#hue3421		{ color: #585858;  }
#hue3423		{ color: #55aa55;  }
#hue3425		{ color: #585858;  }
#hue3427		{ color: #af0f91;  }
#hue3429		{ color: #585858;  }
#hue3431		{ color: #000000;  }
#hue3433		{ color: #bc5a65;  }
#hue3436		{ color: #585858;  }
#hue3438		{ color: #000000;  }
#hue3440		{ color: #bc5a65;  }
#hue3443		{ color: #585858;  }
#hue3445		{ color: #bc5a65;  }
#hue3448		{ color: #585858;  }
#hue3450		{ color: #55aa55;  }
#hue3452		{ color: #585858;  }
#hue3454		{ color: #55aa55;  }
#hue3456		{ color: #585858;  }
#hue3458		{ color: #317ecc;  }
#hue3460		{ color: #585858;  }
#hue3462		{ color: #55aa55;  }
#hue3464		{ color: #585858;  }
#hue3466		{ color: #af0f91;  }
#hue3468		{ color: #585858;  }
#hue3470		{ color: #000000;  }
#hue3472		{ color: #bc5a65;  }
#hue3475		{ color: #585858;  }
#hue3477		{ color: #585858;  }
#hue3479		{ color: #b05a65;  }
#hue3481		{ color: #317ecc;  }
#hue3483		{ color: #585858;  }
#hue3485		{ color: #b05a65;  }
#hue3487		{ color: #af0f91;  }
#hue3489		{ color: #585858;  }
#hue3491		{ color: #b05a65;  }
#hue3493		{ color: #bc5a65;  }
#hue3496		{ color: #585858;  }
#hue3498		{ color: #317ecc;  }
#hue3500		{ color: #585858;  }
#hue3502		{ color: #bc5a65;  }
#hue3505		{ color: #585858;  }
#hue3507		{ color: #585858;  }
#hue3509		{ color: #bc5a65;  }
#hue3512		{ color: #585858;  }
#hue3514		{ color: #000000;  }
#hue3516		{ color: #bc5a65;  }
#hue3519		{ color: #585858;  }
#hue3521		{ color: #af0f91;  }
#hue3523		{ color: #585858;  }
#hue3525		{ color: #af0f91;  }
#hue3527		{ color: #585858;  }
#hue3529		{ color: #000000;  }
#hue3531		{ color: #bc5a65;  }
#hue3534		{ color: #585858;  }
#hue3536		{ color: #55aa55;  }
#hue3538		{ color: #585858;  }
#hue3540		{ color: #af0f91;  }
#hue3542		{ color: #585858;  }
#hue3544		{ color: #bc5a65;  }
#hue3547		{ color: #585858;  }
#hue3549		{ color: #317ecc;  }
#hue3551		{ color: #585858;  }
#hue3553		{ color: #bc5a65;  }
#hue3556		{ color: #585858;  }
#hue3558		{ color: #317ecc;  }
#hue3560		{ color: #585858;  }
#hue3562		{ color: #317ecc;  }
#hue3564		{ color: #585858;  }
#hue3566		{ color: #317ecc;  }
#hue3568		{ color: #585858;  }
#hue3570		{ color: #000000;  }
#hue3572		{ color: #bc5a65;  }
#hue3575		{ color: #585858;  }
#hue3577		{ color: #af0f91;  }
#hue3579		{ color: #585858;  }
#hue3581		{ color: #af0f91;  }
#hue3583		{ color: #585858;  }
#hue3585		{ color: #000000;  }
#hue3587		{ color: #bc5a65;  }
#hue3590		{ color: #585858;  }
#hue3592		{ color: #55aa55;  }
#hue3594		{ color: #585858;  }
#hue3596		{ color: #af0f91;  }
#hue3598		{ color: #585858;  }
#hue3600		{ color: #55aa55;  }
#hue3602		{ color: #585858;  }
#hue3604		{ color: #317ecc;  }
#hue3606		{ color: #585858;  }
#hue3608		{ color: #55aa55;  }
#hue3610		{ color: #585858;  }
#hue3612		{ color: #af0f91;  }
#hue3614		{ color: #585858;  }
#hue3616		{ color: #bc5a65;  }
#hue3619		{ color: #585858;  }
#hue3621		{ color: #317ecc;  }
#hue3623		{ color: #585858;  }
#hue3625		{ color: #bc5a65;  }
#hue3628		{ color: #585858;  }
#hue3630		{ color: #317ecc;  }
#hue3632		{ color: #585858;  }
#hue3634		{ color: #317ecc;  }
#hue3636		{ color: #585858;  }
#hue3638		{ color: #317ecc;  }
#hue3640		{ color: #585858;  }
#hue3642		{ color: #000000;  }
#hue3644		{ color: #bc5a65;  }
#hue3647		{ color: #585858;  }
#hue3649		{ color: #af0f91;  }
#hue3651		{ color: #585858;  }
#hue3653		{ color: #af0f91;  }
#hue3655		{ color: #585858;  }
#hue3657		{ color: #000000;  }
#hue3659		{ color: #bc5a65;  }
#hue3662		{ color: #585858;  }
#hue3664		{ color: #55aa55;  }
#hue3666		{ color: #585858;  }
#hue3668		{ color: #af0f91;  }
#hue3670		{ color: #585858;  }
#hue3672		{ color: #55aa55;  }
#hue3674		{ color: #585858;  }
#hue3676		{ color: #317ecc;  }
#hue3678		{ color: #585858;  }
#hue3680		{ color: #55aa55;  }
#hue3682		{ color: #585858;  }
#hue3684		{ color: #af0f91;  }
#hue3686		{ color: #585858;  }
#hue3688		{ color: #55aa55;  }
#hue3690		{ color: #585858;  }
#hue3692		{ color: #af0f91;  }
#hue3694		{ color: #585858;  }
#hue3696		{ color: #bc5a65;  }
#hue3699		{ color: #585858;  }
#hue3701		{ color: #317ecc;  }
#hue3703		{ color: #585858;  }
#hue3705		{ color: #55aa55;  }
#hue3707		{ color: #585858;  }
#hue3709		{ color: #af0f91;  }
#hue3711		{ color: #585858;  }
#hue3713		{ color: #55aa55;  }
#hue3715		{ color: #585858;  }
#hue3717		{ color: #af0f91;  }
#hue3719		{ color: #585858;  }
#hue3721		{ color: #000000;  }
#hue3723		{ color: #bc5a65;  }
#hue3726		{ color: #585858;  }
#hue3728		{ color: #317ecc;  }
#hue3730		{ color: #585858;  }
#hue3732		{ color: #000000;  }
#hue3734		{ color: #bc5a65;  }
#hue3737		{ color: #585858;  }
#hue3739		{ color: #585858;  }
#hue3741		{ color: #b05a65;  }
#hue3743		{ color: #bc5a65;  }
#hue3746		{ color: #585858;  }
#hue3748		{ color: #317ecc;  }
#hue3750		{ color: #585858;  }
#hue3752		{ color: #55aa55;  }
#hue3754		{ color: #585858;  }
#hue3756		{ color: #af0f91;  }
#hue3758		{ color: #585858;  }
#hue3760		{ color: #55aa55;  }
#hue3762		{ color: #585858;  }
#hue3764		{ color: #af0f91;  }
#hue3766		{ color: #585858;  }
#hue3768		{ color: #000000;  }
#hue3770		{ color: #bc5a65;  }
#hue3773		{ color: #585858;  }
#hue3775		{ color: #55aa55;  }
#hue3777		{ color: #585858;  }
#hue3779		{ color: #55aa55;  }
#hue3781		{ color: #585858;  }
#hue3783		{ color: #ad95af;  }
#hue3786		{ color: #585858;  }
#hue3788		{ color: #b05a65;  }
#hue3790		{ color: #bc5a65;  }
#hue3793		{ color: #585858;  }
#hue3795		{ color: #317ecc;  }
#hue3797		{ color: #585858;  }
#hue3799		{ color: #55aa55;  }
#hue3801		{ color: #585858;  }
#hue3803		{ color: #317ecc;  }
#hue3805		{ color: #585858;  }
#hue3807		{ color: #585858;  }
#hue3809		{ color: #b05a65;  }
#hue3811		{ color: #bc5a65;  }
#hue3814		{ color: #585858;  }
#hue3816		{ color: #317ecc;  }
#hue3818		{ color: #585858;  }
#hue3820		{ color: #55aa55;  }
#hue3822		{ color: #585858;  }
#hue3824		{ color: #317ecc;  }
#hue3826		{ color: #585858;  }
#hue3828		{ color: #55aa55;  }
#hue3830		{ color: #585858;  }
#hue3832		{ color: #317ecc;  }
#hue3834		{ color: #585858;  }
#hue3836		{ color: #55aa55;  }
#hue3838		{ color: #585858;  }
#hue3840		{ color: #af0f91;  }
#hue3842		{ color: #585858;  }
#hue3844		{ color: #55aa55;  }
#hue3846		{ color: #585858;  }
#hue3848		{ color: #af0f91;  }
#hue3850		{ color: #585858;  }
#hue3852		{ color: #55aa55;  }
#hue3854		{ color: #585858;  }
#hue3856		{ color: #bc5a65;  }
#hue3859		{ color: #585858;  }
#hue3861		{ color: #317ecc;  }
#hue3863		{ color: #585858;  }
#hue3865		{ color: #55aa55;  }
#hue3867		{ color: #585858;  }
#hue3869		{ color: #317ecc;  }
#hue3871		{ color: #585858;  }
#hue3873		{ color: #55aa55;  }
#hue3875		{ color: #585858;  }
#hue3877		{ color: #317ecc;  }
#hue3879		{ color: #585858;  }
#hue3881		{ color: #55aa55;  }
#hue3883		{ color: #585858;  }
#hue3885		{ color: #000000;  }
#hue3887		{ color: #bc5a65;  }
#hue3890		{ color: #585858;  }
#hue3892		{ color: #bc5a65;  }
#hue3895		{ color: #585858;  }
#hue3897		{ color: #317ecc;  }
#hue3899		{ color: #585858;  }
#hue3901		{ color: #55aa55;  }
#hue3903		{ color: #585858;  }
#hue3905		{ color: #af0f91;  }
#hue3907		{ color: #585858;  }
#hue3909		{ color: #000000;  }
#hue3911		{ color: #bc5a65;  }
#hue3914		{ color: #585858;  }
#hue3916		{ color: #af0f91;  }
#hue3918		{ color: #585858;  }
#hue3920		{ color: #ad95af;  }
#hue3923		{ color: #ad95af;  }
#hue3926		{ color: #585858;  }
#hue3928		{ color: #b05a65;  }
#hue3930		{ color: #bc5a65;  }
#hue3933		{ color: #585858;  }
#hue3935		{ color: #317ecc;  }
#hue3937		{ color: #585858;  }
#hue3939		{ color: #317ecc;  }
#hue3941		{ color: #585858;  }
#hue3943		{ color: #317ecc;  }
#hue3945		{ color: #585858;  }
#hue3947		{ color: #317ecc;  }
#hue3949		{ color: #585858;  }
#hue3951		{ color: #317ecc;  }
#hue3953		{ color: #585858;  }
#hue3955		{ color: #317ecc;  }
#hue3957		{ color: #585858;  }
#hue3959		{ color: #317ecc;  }
#hue3961		{ color: #585858;  }
#hue3963		{ color: #317ecc;  }
#hue3965		{ color: #585858;  }
#hue3967		{ color: #317ecc;  }
#hue3969		{ color: #585858;  }
#hue3971		{ color: #317ecc;  }
#hue3973		{ color: #585858;  }
#hue3975		{ color: #317ecc;  }
#hue3977		{ color: #585858;  }
#hue3979		{ color: #317ecc;  }
#hue3981		{ color: #585858;  }
#hue3983		{ color: #317ecc;  }
#hue3985		{ color: #585858;  }
#hue3987		{ color: #317ecc;  }
#hue3989		{ color: #585858;  }
#hue3991		{ color: #317ecc;  }
#hue3993		{ color: #585858;  }
#hue3995		{ color: #317ecc;  }
#hue3997		{ color: #585858;  }
#hue3999		{ color: #ad95af;  }
#hue4002		{ color: #585858;  }
#hue4004		{ color: #b05a65;  }
#hue4006		{ color: #bc5a65;  }
#hue4009		{ color: #585858;  }
#hue4011		{ color: #317ecc;  }
#hue4013		{ color: #585858;  }
#hue4015		{ color: #317ecc;  }
#hue4017		{ color: #585858;  }
#hue4019		{ color: #317ecc;  }
#hue4021		{ color: #585858;  }
#hue4023		{ color: #317ecc;  }
#hue4025		{ color: #585858;  }
#hue4027		{ color: #317ecc;  }
#hue4029		{ color: #585858;  }
#hue4031		{ color: #317ecc;  }
#hue4033		{ color: #585858;  }
#hue4035		{ color: #317ecc;  }
#hue4037		{ color: #585858;  }
#hue4039		{ color: #317ecc;  }
#hue4041		{ color: #585858;  }
#hue4043		{ color: #585858;  }
#hue4045		{ color: #b05a65;  }
#hue4047		{ color: #bc5a65;  }
#hue4050		{ color: #585858;  }
#hue4052		{ color: #585858;  }
#hue4054		{ color: #b05a65;  }
#hue4056		{ color: #317ecc;  }
#hue4058		{ color: #585858;  }
#hue4060		{ color: #b05a65;  }
#hue4062		{ color: #bc5a65;  }
#hue4065		{ color: #585858;  }
#hue4067		{ color: #bc5a65;  }
#hue4070		{ color: #585858;  }
#hue4072		{ color: #ad95af;  }
#hue4075		{ color: #bc5a65;  }
#hue4078		{ color: #585858;  }
#hue4080		{ color: #317ecc;  }
#hue4082		{ color: #585858;  }
#hue4084		{ color: #bc5a65;  }
#hue4087		{ color: #585858;  }
#hue4089		{ color: #bc5a65;  }
#hue4092		{ color: #585858;  }
#hue4094		{ color: #317ecc;  }
#hue4096		{ color: #585858;  }
#hue4098		{ color: #295f94;  }
#hue4101		{ color: #585858;  }
#hue4103		{ color: #295f94;  }
#hue4106		{ color: #585858;  }
#hue4108		{ color: #585858;  }
#hue4110		{ color: #b05a65;  }
#hue4112		{ color: #bc5a65;  }
#hue4115		{ color: #585858;  }
#hue4117		{ color: #317ecc;  }
#hue4119		{ color: #585858;  }
#hue4121		{ color: #bc5a65;  }
#hue4124		{ color: #585858;  }
#hue4126		{ color: #585858;  }
#hue4128		{ color: #b05a65;  }
#hue4130		{ color: #bc5a65;  }
#hue4133		{ color: #585858;  }
#hue4135		{ color: #bc5a65;  }
#hue4138		{ color: #585858;  }
#hue4140		{ color: #317ecc;  }
#hue4142		{ color: #585858;  }
#hue4144		{ color: #317ecc;  }
#hue4148		{ color: #585858;  }
#hue4150		{ color: #585858;  }
#hue4152		{ color: #b05a65;  }
#hue4154		{ color: #bc5a65;  }
#hue4157		{ color: #585858;  }
#hue4159		{ color: #55aa55;  }
#hue4161		{ color: #585858;  }
#hue4163		{ color: #585858;  }
#hue4165		{ color: #b05a65;  }
#hue4167		{ color: #bc5a65;  }
#hue4170		{ color: #585858;  }
#hue4172		{ color: #585858;  }
#hue4174		{ color: #ad95af;  }
#hue4177		{ color: #585858;  }
#hue4179		{ color: #b05a65;  }
#hue4181		{ color: #585858;  }
#hue4183		{ color: #000000;  }
#hue4185		{ color: #bc5a65;  }
#hue4188		{ color: #585858;  }
#hue4190		{ color: #000000;  }
#hue4192		{ color: #af0f91;  }
#hue4194		{ color: #585858;  }
#hue4196		{ color: #bc5a65;  }
#hue4199		{ color: #585858;  }
#hue4201		{ color: #000000;  }
#hue4203		{ color: #af0f91;  }
#hue4205		{ color: #585858;  }
#hue4207		{ color: #000000;  }
#hue4209		{ color: #585858;  }
#hue4211		{ color: #000000;  }
#hue4213		{ color: #bc5a65;  }
#hue4216		{ color: #585858;  }
#hue4218		{ color: #585858;  }
#hue4220		{ color: #000000;  }
#hue4222		{ color: #bc5a65;  }
#hue4225		{ color: #585858;  }
#hue4227		{ color: #000000;  }
#hue4229		{ color: #bc5a65;  }
#hue4232		{ color: #585858;  }
#hue4234		{ color: #bc5a65;  }
#hue4237		{ color: #585858;  }
#hue4239		{ color: #55aa55;  }
#hue4241		{ color: #585858;  }
#hue4243		{ color: #55aa55;  }
#hue4245		{ color: #585858;  }
#hue4247		{ color: #317ecc;  }
#hue4249		{ color: #585858;  }
#hue4251		{ color: #55aa55;  }
#hue4253		{ color: #585858;  }
#hue4255		{ color: #af0f91;  }
#hue4257		{ color: #585858;  }
#hue4259		{ color: #000000;  }
#hue4261		{ color: #bc5a65;  }
#hue4264		{ color: #585858;  }
#hue4266		{ color: #585858;  }
#hue4268		{ color: #000000;  }
#hue4270		{ color: #585858;  }
#hue4272		{ color: #000000;  }
#hue4274		{ color: #bc5a65;  }
#hue4277		{ color: #585858;  }
#hue4279		{ color: #000000;  }
#hue4281		{ color: #585858;  }
#hue4283		{ color: #000000;  }
#hue4285		{ color: #bc5a65;  }
#hue4288		{ color: #585858;  }
#hue4290		{ color: #000000;  }
#hue4292		{ color: #af0f91;  }
#hue4294		{ color: #000000;  }
#hue4296		{ color: #585858;  }
#hue4298		{ color: #000000;  }
#hue4300		{ color: #af0f91;  }
#hue4302		{ color: #585858;  }
#hue4304		{ color: #000000;  }
#hue4306		{ color: #bc5a65;  }
#hue4309		{ color: #585858;  }
#hue4311		{ color: #55aa55;  }
#hue4313		{ color: #585858;  }
#hue4315		{ color: #bc5a65;  }
#hue4318		{ color: #585858;  }
#hue4320		{ color: #000000;  }
#hue4322		{ color: #bc5a65;  }
#hue4325		{ color: #585858;  }
#hue4327		{ color: #000000;  }
#hue4329		{ color: #bc5a65;  }
#hue4332		{ color: #585858;  }
#hue4334		{ color: #bc5a65;  }
#hue4337		{ color: #585858;  }
#hue4339		{ color: #55aa55;  }
#hue4341		{ color: #585858;  }
#hue4343		{ color: #000000;  }
#hue4345		{ color: #bc5a65;  }
#hue4348		{ color: #585858;  }
#hue4350		{ color: #585858;  }
#hue4352		{ color: #000000;  }
#hue4354		{ color: #585858;  }
#hue4356		{ color: #000000;  }
#hue4358		{ color: #bc5a65;  }
#hue4361		{ color: #585858;  }
#hue4363		{ color: #000000;  }
#hue4365		{ color: #585858;  }
#hue4367		{ color: #000000;  }
#hue4369		{ color: #bc5a65;  }
#hue4372		{ color: #585858;  }
#hue4374		{ color: #000000;  }
#hue4376		{ color: #af0f91;  }
#hue4378		{ color: #000000;  }
#hue4380		{ color: #585858;  }
#hue4382		{ color: #000000;  }
#hue4384		{ color: #af0f91;  }
#hue4386		{ color: #585858;  }
#hue4388		{ color: #000000;  }
#hue4390		{ color: #bc5a65;  }
#hue4393		{ color: #585858;  }
#hue4395		{ color: #55aa55;  }
#hue4397		{ color: #585858;  }
#hue4399		{ color: #bc5a65;  }
#hue4402		{ color: #585858;  }
#hue4404		{ color: #317ecc;  }
#hue4406		{ color: #585858;  }
#hue4408		{ color: #000000;  }
#hue4410		{ color: #bc5a65;  }
#hue4413		{ color: #585858;  }
#hue4415		{ color: #000000;  }
#hue4417		{ color: #bc5a65;  }
#hue4420		{ color: #585858;  }
#hue4422		{ color: #bc5a65;  }
#hue4425		{ color: #585858;  }
#hue4427		{ color: #000000;  }
#hue4429		{ color: #bc5a65;  }
#hue4432		{ color: #585858;  }
#hue4434		{ color: #000000;  }
#hue4436		{ color: #585858;  }
#hue4438		{ color: #55aa55;  }
#hue4440		{ color: #585858;  }
#hue4442		{ color: #af0f91;  }
#hue4444		{ color: #585858;  }
#hue4446		{ color: #000000;  }
#hue4448		{ color: #ad95af;  }
#hue4451		{ color: #bc5a65;  }
#hue4454		{ color: #585858;  }
#hue4456		{ color: #585858;  }
#hue4458		{ color: #000000;  }
#hue4460		{ color: #585858;  }
#hue4462		{ color: #000000;  }
#hue4464		{ color: #bc5a65;  }
#hue4467		{ color: #585858;  }
#hue4469		{ color: #000000;  }
#hue4471		{ color: #585858;  }
#hue4473		{ color: #000000;  }
#hue4475		{ color: #bc5a65;  }
#hue4478		{ color: #585858;  }
#hue4480		{ color: #000000;  }
#hue4482		{ color: #af0f91;  }
#hue4484		{ color: #000000;  }
#hue4486		{ color: #585858;  }
#hue4488		{ color: #000000;  }
#hue4490		{ color: #af0f91;  }
#hue4492		{ color: #585858;  }
#hue4494		{ color: #000000;  }
#hue4496		{ color: #bc5a65;  }
#hue4499		{ color: #585858;  }
#hue4501		{ color: #55aa55;  }
#hue4503		{ color: #585858;  }
#hue4505		{ color: #bc5a65;  }
#hue4508		{ color: #585858;  }
#hue4510		{ color: #317ecc;  }
#hue4512		{ color: #585858;  }
#hue4514		{ color: #000000;  }
#hue4516		{ color: #bc5a65;  }
#hue4519		{ color: #585858;  }
#hue4521		{ color: #55aa55;  }
#hue4523		{ color: #585858;  }
#hue4525		{ color: #af0f91;  }
#hue4527		{ color: #000000;  }
#hue4529		{ color: #585858;  }
#hue4531		{ color: #000000;  }
#hue4533		{ color: #bc5a65;  }
#hue4536		{ color: #585858;  }
#hue4538		{ color: #000000;  }
#hue4540		{ color: #ad95af;  }
#hue4543		{ color: #bc5a65;  }
#hue4546		{ color: #585858;  }
#hue4548		{ color: #000000;  }
#hue4550		{ color: #bc5a65;  }
#hue4553		{ color: #585858;  }
#hue4555		{ color: #bc5a65;  }
#hue4558		{ color: #585858;  }
#hue4560		{ color: #55aa55;  }
#hue4562		{ color: #585858;  }
#hue4564		{ color: #000000;  }
#hue4566		{ color: #bc5a65;  }
#hue4569		{ color: #585858;  }
#hue4571		{ color: #bc5a65;  }
#hue4574		{ color: #585858;  }
#hue4576		{ color: #af0f91;  }
#hue4578		{ color: #585858;  }
#hue4580		{ color: #af0f91;  }
#hue4582		{ color: #585858;  }
#hue4584		{ color: #000000;  }
#hue4586		{ color: #bc5a65;  }
#hue4589		{ color: #585858;  }
#hue4591		{ color: #317ecc;  }
#hue4593		{ color: #585858;  }
#hue4595		{ color: #000000;  }
#hue4597		{ color: #bc5a65;  }
#hue4600		{ color: #585858;  }
#hue4602		{ color: #317ecc;  }
#hue4604		{ color: #585858;  }
#hue4606		{ color: #000000;  }
#hue4608		{ color: #bc5a65;  }
#hue4611		{ color: #585858;  }
#hue4613		{ color: #585858;  }
#hue4615		{ color: #000000;  }
#hue4617		{ color: #585858;  }
#hue4619		{ color: #000000;  }
#hue4621		{ color: #bc5a65;  }
#hue4624		{ color: #585858;  }
#hue4626		{ color: #000000;  }
#hue4628		{ color: #bc5a65;  }
#hue4631		{ color: #585858;  }
#hue4633		{ color: #55aa55;  }
#hue4635		{ color: #585858;  }
#hue4637		{ color: #bc5a65;  }
#hue4640		{ color: #585858;  }
#hue4642		{ color: #55aa55;  }
#hue4644		{ color: #585858;  }
#hue4646		{ color: #af0f91;  }
#hue4648		{ color: #585858;  }
