/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:90%; max-width:50em; margin:auto; text-align:justify; }

/* implement both fixed-size and relative sizes */
SMALL.XTINY		{ font-size : xx-small }
SMALL.TINY		{ font-size : x-small  }
SMALL.SCRIPTSIZE	{ font-size : smaller  }
SMALL.FOOTNOTESIZE	{ font-size : small    }
SMALL.SMALL		{  }
BIG.LARGE		{  }
BIG.XLARGE		{ font-size : large    }
BIG.XXLARGE		{ font-size : x-large  }
BIG.HUGE		{ font-size : larger   }
BIG.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.alltt		{   }
DIV.center		{   }
DIV.navigation		{   }
PRE.preform		{   }
SPAN.tt		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
SPAN.textit		{ font-style: italic  }
SPAN.texttt		{ font-family: monospace  }
#cbox1937		{ background-color: #f7f7f7;  }
#cbox1946		{ background-color: #f7f7f7;  }
#cbox1955		{ background-color: #f7f7f7;  }
#cbox1964		{ background-color: #f7f7f7;  }
#cbox1973		{ background-color: #f7f7f7;  }
#cbox1982		{ background-color: #f7f7f7;  }
#cbox2003		{ background-color: #f7f7f7;  }
#cbox2012		{ background-color: #f7f7f7;  }
#cbox2021		{ background-color: #f7f7f7;  }
#cbox2030		{ background-color: #f7f7f7;  }
#cbox2039		{ background-color: #f7f7f7;  }
#cbox2048		{ background-color: #f7f7f7;  }
#cbox2057		{ background-color: #f7f7f7;  }
#cbox2066		{ background-color: #f7f7f7;  }
#cbox2075		{ background-color: #f7f7f7;  }
#cbox2084		{ background-color: #f7f7f7;  }
#cbox2093		{ background-color: #f7f7f7;  }
#cbox2102		{ background-color: #f7f7f7;  }
#cbox2111		{ background-color: #f7f7f7;  }
#cbox2120		{ background-color: #f7f7f7;  }
#cbox2129		{ background-color: #f7f7f7;  }
#cbox2138		{ background-color: #f7f7f7;  }
#cbox2147		{ background-color: #f7f7f7;  }
#cbox2156		{ background-color: #f7f7f7;  }
#cbox2165		{ background-color: #f7f7f7;  }
#cbox2174		{ background-color: #f7f7f7;  }
#cbox2183		{ background-color: #f7f7f7;  }
#cbox2192		{ background-color: #f7f7f7;  }
#cbox2201		{ background-color: #f7f7f7;  }
#cbox2210		{ background-color: #f7f7f7;  }
#hue2212		{ color: #b05a65;  }
#hue2214		{ color: #585858;  }
#hue2216		{ color: #b05a65;  }
#hue2218		{ color: #317ecc;  }
#hue2220		{ color: #585858;  }
#hue2222		{ color: #b05a65;  }
#hue2224		{ color: #af0f91;  }
#hue2226		{ color: #585858;  }
#hue2228		{ color: #b05a65;  }
#hue2230		{ color: #bc5a65;  }
#hue2233		{ color: #585858;  }
#hue2235		{ color: #317ecc;  }
#hue2237		{ color: #585858;  }
#hue2239		{ color: #000000;  }
#hue2241		{ color: #bc5a65;  }
#hue2244		{ color: #585858;  }
#hue2246		{ color: #585858;  }
#hue2248		{ color: #585858;  }
#hue2250		{ color: #b05a65;  }
#hue2252		{ color: #bc5a65;  }
#hue2255		{ color: #585858;  }
#hue2257		{ color: #bc5a65;  }
#hue2260		{ color: #585858;  }
#hue2262		{ color: #000000;  }
#hue2264		{ color: #585858;  }
#hue2266		{ color: #585858;  }
#hue2268		{ color: #000000;  }
#hue2270		{ color: #585858;  }
#hue2272		{ color: #000000;  }
#hue2274		{ color: #585858;  }
#hue2276		{ color: #585858;  }
#hue2278		{ color: #000000;  }
#hue2280		{ color: #585858;  }
#hue2282		{ color: #bc5a65;  }
#hue2285		{ color: #585858;  }
#hue2287		{ color: #317ecc;  }
#hue2289		{ color: #000000;  }
#hue2291		{ color: #585858;  }
#hue2293		{ color: #000000;  }
#hue2295		{ color: #585858;  }
#hue2297		{ color: #bc5a65;  }
#hue2300		{ color: #585858;  }
#hue2302		{ color: #585858;  }
#hue2304		{ color: #b05a65;  }
#hue2306		{ color: #317ecc;  }
#hue2308		{ color: #585858;  }
#hue2310		{ color: #b05a65;  }
#hue2312		{ color: #af0f91;  }
#hue2314		{ color: #585858;  }
#hue2316		{ color: #b05a65;  }
#hue2318		{ color: #bc5a65;  }
#hue2321		{ color: #585858;  }
#hue2323		{ color: #317ecc;  }
#hue2325		{ color: #585858;  }
#hue2327		{ color: #000000;  }
#hue2329		{ color: #bc5a65;  }
#hue2332		{ color: #585858;  }
#hue2334		{ color: #585858;  }
#hue2336		{ color: #585858;  }
#hue2338		{ color: #b05a65;  }
#hue2340		{ color: #585858;  }
#hue2342		{ color: #000000;  }
#hue2344		{ color: #bc5a65;  }
#hue2347		{ color: #585858;  }
#hue2349		{ color: #bc5a65;  }
#hue2352		{ color: #585858;  }
#hue2354		{ color: #317ecc;  }
#hue2356		{ color: #585858;  }
#hue2358		{ color: #317ecc;  }
#hue2360		{ color: #585858;  }
#hue2362		{ color: #585858;  }
#hue2364		{ color: #b05a65;  }
#hue2366		{ color: #585858;  }
#hue2368		{ color: #000000;  }
#hue2370		{ color: #bc5a65;  }
#hue2373		{ color: #585858;  }
#hue2375		{ color: #bc5a65;  }
#hue2378		{ color: #585858;  }
#hue2380		{ color: #bc5a65;  }
#hue2383		{ color: #585858;  }
#hue2385		{ color: #317ecc;  }
#hue2387		{ color: #585858;  }
#hue2389		{ color: #bc5a65;  }
#hue2392		{ color: #585858;  }
#hue2394		{ color: #000000;  }
#hue2396		{ color: #bc5a65;  }
#hue2399		{ color: #585858;  }
#hue2401		{ color: #ad95af;  }
#hue2404		{ color: #bc5a65;  }
#hue2407		{ color: #585858;  }
#hue2409		{ color: #000000;  }
#hue2411		{ color: #585858;  }
#hue2413		{ color: #000000;  }
#hue2415		{ color: #585858;  }
#hue2417		{ color: #55aa55;  }
#hue2419		{ color: #585858;  }
#hue2421		{ color: #317ecc;  }
#hue2423		{ color: #585858;  }
#hue2425		{ color: #bc5a65;  }
#hue2428		{ color: #585858;  }
#hue2430		{ color: #bc5a65;  }
#hue2433		{ color: #585858;  }
#hue2435		{ color: #317ecc;  }
#hue2437		{ color: #585858;  }
#hue2439		{ color: #317ecc;  }
#hue2441		{ color: #585858;  }
#hue2443		{ color: #bc5a65;  }
#hue2446		{ color: #585858;  }
#hue2448		{ color: #bc5a65;  }
#hue2451		{ color: #585858;  }
#hue2453		{ color: #317ecc;  }
#hue2455		{ color: #585858;  }
#hue2457		{ color: #317ecc;  }
#hue2459		{ color: #585858;  }
#hue2461		{ color: #bc5a65;  }
#hue2464		{ color: #585858;  }
#hue2466		{ color: #585858;  }
#hue2468		{ color: #000000;  }
#hue2470		{ color: #bc5a65;  }
#hue2473		{ color: #585858;  }
#hue2475		{ color: #000000;  }
#hue2477		{ color: #ad95af;  }
#hue2480		{ color: #585858;  }
#hue2482		{ color: #000000;  }
#hue2484		{ color: #bc5a65;  }
#hue2487		{ color: #585858;  }
#hue2489		{ color: #000000;  }
#hue2491		{ color: #af0f91;  }
#hue2493		{ color: #585858;  }
#hue2495		{ color: #000000;  }
#hue2497		{ color: #ad95af;  }
#hue2500		{ color: #585858;  }
#hue2502		{ color: #000000;  }
#hue2504		{ color: #bc5a65;  }
#hue2507		{ color: #585858;  }
#hue2509		{ color: #000000;  }
#hue2511		{ color: #ad95af;  }
#hue2514		{ color: #585858;  }
#hue2516		{ color: #000000;  }
#hue2518		{ color: #bc5a65;  }
#hue2521		{ color: #585858;  }
#hue2523		{ color: #55aa55;  }
#hue2525		{ color: #585858;  }
#hue2527		{ color: #000000;  }
#hue2529		{ color: #585858;  }
#hue2531		{ color: #000000;  }
#hue2533		{ color: #ad95af;  }
#hue2536		{ color: #585858;  }
#hue2538		{ color: #000000;  }
#hue2540		{ color: #bc5a65;  }
#hue2543		{ color: #585858;  }
#hue2545		{ color: #af0f91;  }
#hue2547		{ color: #585858;  }
#hue2549		{ color: #af0f91;  }
#hue2551		{ color: #585858;  }
#hue2553		{ color: #000000;  }
#hue2555		{ color: #ad95af;  }
#hue2558		{ color: #585858;  }
#hue2560		{ color: #000000;  }
#hue2562		{ color: #bc5a65;  }
#hue2565		{ color: #585858;  }
#hue2567		{ color: #55aa55;  }
#hue2569		{ color: #585858;  }
#hue2571		{ color: #bc5a65;  }
#hue2574		{ color: #585858;  }
#hue2576		{ color: #317ecc;  }
#hue2578		{ color: #585858;  }
#hue2580		{ color: #317ecc;  }
#hue2582		{ color: #585858;  }
#hue2584		{ color: #317ecc;  }
#hue2586		{ color: #585858;  }
#hue2588		{ color: #ad95af;  }
#hue2591		{ color: #585858;  }
#hue2593		{ color: #000000;  }
#hue2595		{ color: #bc5a65;  }
#hue2598		{ color: #585858;  }
#hue2600		{ color: #af0f91;  }
#hue2602		{ color: #585858;  }
#hue2604		{ color: #af0f91;  }
#hue2606		{ color: #585858;  }
#hue2608		{ color: #000000;  }
#hue2610		{ color: #585858;  }
#hue2612		{ color: #000000;  }
#hue2614		{ color: #bc5a65;  }
#hue2617		{ color: #585858;  }
#hue2619		{ color: #000000;  }
#hue2621		{ color: #bc5a65;  }
#hue2624		{ color: #585858;  }
#hue2626		{ color: #55aa55;  }
#hue2628		{ color: #585858;  }
#hue2630		{ color: #317ecc;  }
#hue2632		{ color: #585858;  }
#hue2634		{ color: #55aa55;  }
#hue2636		{ color: #585858;  }
#hue2638		{ color: #317ecc;  }
#hue2640		{ color: #585858;  }
#hue2642		{ color: #bc5a65;  }
#hue2645		{ color: #585858;  }
#hue2647		{ color: #bc5a65;  }
#hue2650		{ color: #585858;  }
#hue2652		{ color: #af0f91;  }
#hue2654		{ color: #000000;  }
#hue2656		{ color: #af0f91;  }
#hue2658		{ color: #585858;  }
#hue2660		{ color: #55aa55;  }
#hue2662		{ color: #585858;  }
#hue2664		{ color: #af0f91;  }
#hue2666		{ color: #585858;  }
#hue2668		{ color: #55aa55;  }
#hue2670		{ color: #585858;  }
#hue2672		{ color: #bc5a65;  }
#hue2675		{ color: #585858;  }
#hue2677		{ color: #af0f91;  }
#hue2679		{ color: #585858;  }
#hue2681		{ color: #af0f91;  }
#hue2683		{ color: #585858;  }
#hue2685		{ color: #55aa55;  }
#hue2687		{ color: #585858;  }
#hue2689		{ color: #bc5a65;  }
#hue2692		{ color: #585858;  }
#hue2694		{ color: #af0f91;  }
#hue2696		{ color: #585858;  }
#hue2698		{ color: #af0f91;  }
#hue2700		{ color: #585858;  }
#hue2702		{ color: #585858;  }
#hue2704		{ color: #b05a65;  }
#hue2706		{ color: #bc5a65;  }
#hue2709		{ color: #585858;  }
#hue2711		{ color: #55aa55;  }
#hue2713		{ color: #585858;  }
#hue2715		{ color: #bc5a65;  }
#hue2718		{ color: #585858;  }
#hue2720		{ color: #af0f91;  }
#hue2722		{ color: #585858;  }
#hue2724		{ color: #af0f91;  }
#hue2726		{ color: #585858;  }
#hue2728		{ color: #af0f91;  }
#hue2730		{ color: #585858;  }
#hue2732		{ color: #af0f91;  }
#hue2734		{ color: #585858;  }
#hue2736		{ color: #000000;  }
#hue2738		{ color: #af0f91;  }
#hue2740		{ color: #585858;  }
#hue2742		{ color: #55aa55;  }
#hue2744		{ color: #585858;  }
#hue2746		{ color: #bc5a65;  }
#hue2749		{ color: #585858;  }
#hue2751		{ color: #af0f91;  }
#hue2753		{ color: #585858;  }
#hue2755		{ color: #af0f91;  }
#hue2757		{ color: #585858;  }
#hue2759		{ color: #af0f91;  }
#hue2761		{ color: #585858;  }
#hue2763		{ color: #af0f91;  }
#hue2765		{ color: #585858;  }
#hue2767		{ color: #585858;  }
#hue2769		{ color: #000000;  }
#hue2771		{ color: #585858;  }
#hue2773		{ color: #000000;  }
#hue2775		{ color: #bc5a65;  }
#hue2778		{ color: #585858;  }
#hue2780		{ color: #000000;  }
#hue2782		{ color: #bc5a65;  }
#hue2785		{ color: #585858;  }
#hue2787		{ color: #55aa55;  }
#hue2789		{ color: #585858;  }
#hue2791		{ color: #bc5a65;  }
#hue2794		{ color: #585858;  }
#hue2796		{ color: #bc5a65;  }
#hue2799		{ color: #585858;  }
#hue2801		{ color: #317ecc;  }
#hue2803		{ color: #585858;  }
#hue2805		{ color: #317ecc;  }
#hue2807		{ color: #585858;  }
#hue2809		{ color: #585858;  }
#hue2811		{ color: #b05a65;  }
#hue2813		{ color: #bc5a65;  }
#hue2816		{ color: #585858;  }
#hue2818		{ color: #55aa55;  }
#hue2820		{ color: #585858;  }
#hue2822		{ color: #bc5a65;  }
#hue2825		{ color: #585858;  }
#hue2827		{ color: #af0f91;  }
#hue2829		{ color: #585858;  }
#hue2831		{ color: #af0f91;  }
#hue2833		{ color: #585858;  }
#hue2835		{ color: #af0f91;  }
#hue2837		{ color: #585858;  }
#hue2839		{ color: #af0f91;  }
#hue2841		{ color: #585858;  }
#hue2843		{ color: #000000;  }
#hue2845		{ color: #af0f91;  }
#hue2847		{ color: #585858;  }
#hue2849		{ color: #585858;  }
#hue2851		{ color: #000000;  }
#hue2853		{ color: #585858;  }
#hue2855		{ color: #000000;  }
#hue2857		{ color: #bc5a65;  }
#hue2860		{ color: #585858;  }
#hue2862		{ color: #000000;  }
#hue2864		{ color: #bc5a65;  }
#hue2867		{ color: #585858;  }
#hue2869		{ color: #55aa55;  }
#hue2871		{ color: #585858;  }
#hue2873		{ color: #bc5a65;  }
#hue2876		{ color: #585858;  }
#hue2878		{ color: #bc5a65;  }
#hue2881		{ color: #585858;  }
#hue2883		{ color: #317ecc;  }
#hue2885		{ color: #585858;  }
#hue2887		{ color: #585858;  }
#hue2889		{ color: #b05a65;  }
#hue2891		{ color: #317ecc;  }
#hue2893		{ color: #ad95af;  }
#hue2896		{ color: #585858;  }
#hue2898		{ color: #b05a65;  }
#hue2900		{ color: #af0f91;  }
#hue2902		{ color: #585858;  }
#hue2904		{ color: #b05a65;  }
#hue2906		{ color: #bc5a65;  }
#hue2909		{ color: #585858;  }
#hue2911		{ color: #317ecc;  }
#hue2913		{ color: #585858;  }
#hue2915		{ color: #317ecc;  }
#hue2917		{ color: #585858;  }
#hue2919		{ color: #317ecc;  }
#hue2921		{ color: #585858;  }
#hue2923		{ color: #317ecc;  }
#hue2925		{ color: #585858;  }
#hue2927		{ color: #317ecc;  }
#hue2929		{ color: #585858;  }
#hue2931		{ color: #317ecc;  }
#hue2933		{ color: #585858;  }
#hue2935		{ color: #585858;  }
#hue2937		{ color: #b05a65;  }
#hue2939		{ color: #bc5a65;  }
#hue2942		{ color: #585858;  }
#hue2944		{ color: #317ecc;  }
#hue2946		{ color: #585858;  }
#hue2948		{ color: #bc5a65;  }
#hue2951		{ color: #585858;  }
#hue2953		{ color: #585858;  }
#hue2955		{ color: #bc5a65;  }
#hue2958		{ color: #585858;  }
#hue2960		{ color: #bc5a65;  }
#hue2963		{ color: #585858;  }
#hue2965		{ color: #af0f91;  }
#hue2967		{ color: #585858;  }
#hue2969		{ color: #af0f91;  }
#hue2971		{ color: #585858;  }
#hue2973		{ color: #000000;  }
#hue2975		{ color: #bc5a65;  }
#hue2978		{ color: #585858;  }
#hue2980		{ color: #55aa55;  }
#hue2982		{ color: #585858;  }
#hue2984		{ color: #af0f91;  }
#hue2986		{ color: #585858;  }
#hue2988		{ color: #55aa55;  }
#hue2990		{ color: #585858;  }
#hue2992		{ color: #bc5a65;  }
#hue2995		{ color: #585858;  }
#hue2997		{ color: #317ecc;  }
#hue2999		{ color: #585858;  }
#hue3001		{ color: #317ecc;  }
#hue3003		{ color: #585858;  }
#hue3005		{ color: #317ecc;  }
#hue3007		{ color: #585858;  }
#hue3009		{ color: #55aa55;  }
#hue3011		{ color: #585858;  }
#hue3013		{ color: #bc5a65;  }
#hue3016		{ color: #585858;  }
#hue3018		{ color: #bc5a65;  }
#hue3021		{ color: #585858;  }
#hue3023		{ color: #317ecc;  }
#hue3025		{ color: #585858;  }
#hue3027		{ color: #317ecc;  }
#hue3029		{ color: #585858;  }
#hue3031		{ color: #55aa55;  }
#hue3033		{ color: #585858;  }
#hue3035		{ color: #bc5a65;  }
#hue3038		{ color: #585858;  }
#hue3040		{ color: #af0f91;  }
#hue3042		{ color: #585858;  }
#hue3044		{ color: #af0f91;  }
#hue3046		{ color: #585858;  }
#hue3048		{ color: #af0f91;  }
#hue3050		{ color: #585858;  }
#hue3052		{ color: #55aa55;  }
#hue3054		{ color: #585858;  }
#hue3056		{ color: #bc5a65;  }
#hue3059		{ color: #585858;  }
#hue3061		{ color: #af0f91;  }
#hue3063		{ color: #585858;  }
#hue3065		{ color: #af0f91;  }
#hue3067		{ color: #585858;  }
#hue3069		{ color: #af0f91;  }
#hue3071		{ color: #585858;  }
#hue3073		{ color: #55aa55;  }
#hue3075		{ color: #585858;  }
#hue3077		{ color: #bc5a65;  }
#hue3080		{ color: #585858;  }
#hue3082		{ color: #317ecc;  }
#hue3084		{ color: #585858;  }
#hue3086		{ color: #317ecc;  }
#hue3088		{ color: #585858;  }
#hue3090		{ color: #55aa55;  }
#hue3092		{ color: #585858;  }
#hue3094		{ color: #bc5a65;  }
#hue3097		{ color: #585858;  }
#hue3099		{ color: #317ecc;  }
#hue3101		{ color: #585858;  }
#hue3103		{ color: #317ecc;  }
#hue3105		{ color: #585858;  }
#hue3107		{ color: #317ecc;  }
#hue3109		{ color: #585858;  }
#hue3111		{ color: #55aa55;  }
#hue3113		{ color: #585858;  }
#hue3115		{ color: #bc5a65;  }
#hue3118		{ color: #585858;  }
#hue3120		{ color: #af0f91;  }
#hue3122		{ color: #585858;  }
#hue3124		{ color: #af0f91;  }
#hue3126		{ color: #585858;  }
#hue3128		{ color: #585858;  }
#hue3130		{ color: #585858;  }
#hue3132		{ color: #ad95af;  }
#hue3135		{ color: #585858;  }
#hue3137		{ color: #b05a65;  }
#hue3139		{ color: #bc5a65;  }
#hue3142		{ color: #585858;  }
#hue3144		{ color: #af0f91;  }
#hue3146		{ color: #585858;  }
#hue3148		{ color: #af0f91;  }
#hue3150		{ color: #585858;  }
#hue3152		{ color: #bc5a65;  }
#hue3155		{ color: #585858;  }
#hue3157		{ color: #bc5a65;  }
#hue3160		{ color: #585858;  }
#hue3162		{ color: #bc5a65;  }
#hue3165		{ color: #585858;  }
#hue3167		{ color: #55aa55;  }
#hue3169		{ color: #585858;  }
#hue3171		{ color: #bc5a65;  }
#hue3174		{ color: #585858;  }
#hue3176		{ color: #af0f91;  }
#hue3178		{ color: #585858;  }
#hue3180		{ color: #af0f91;  }
#hue3182		{ color: #585858;  }
#hue3184		{ color: #bc5a65;  }
#hue3187		{ color: #585858;  }
#hue3189		{ color: #bc5a65;  }
#hue3192		{ color: #585858;  }
#hue3194		{ color: #bc5a65;  }
#hue3197		{ color: #585858;  }
#hue3199		{ color: #55aa55;  }
#hue3201		{ color: #585858;  }
#hue3203		{ color: #bc5a65;  }
#hue3206		{ color: #585858;  }
#hue3208		{ color: #af0f91;  }
#hue3210		{ color: #585858;  }
#hue3212		{ color: #af0f91;  }
#hue3214		{ color: #585858;  }
#hue3216		{ color: #bc5a65;  }
#hue3219		{ color: #585858;  }
#hue3221		{ color: #000000;  }
#hue3223		{ color: #585858;  }
#hue3225		{ color: #000000;  }
#hue3227		{ color: #bc5a65;  }
#hue3230		{ color: #585858;  }
#hue3232		{ color: #000000;  }
#hue3234		{ color: #bc5a65;  }
#hue3237		{ color: #585858;  }
#hue3239		{ color: #55aa55;  }
#hue3241		{ color: #585858;  }
#hue3243		{ color: #317ecc;  }
#hue3245		{ color: #585858;  }
#hue3247		{ color: #bc5a65;  }
#hue3250		{ color: #585858;  }
#hue3252		{ color: #000000;  }
#hue3254		{ color: #bc5a65;  }
#hue3257		{ color: #585858;  }
#hue3259		{ color: #55aa55;  }
#hue3261		{ color: #585858;  }
#hue3263		{ color: #000000;  }
#hue3265		{ color: #585858;  }
#hue3267		{ color: #000000;  }
#hue3269		{ color: #ad95af;  }
#hue3272		{ color: #585858;  }
#hue3274		{ color: #000000;  }
#hue3276		{ color: #bc5a65;  }
#hue3279		{ color: #585858;  }
#hue3281		{ color: #000000;  }
#hue3283		{ color: #bc5a65;  }
#hue3286		{ color: #585858;  }
#hue3288		{ color: #000000;  }
#hue3290		{ color: #bc5a65;  }
#hue3293		{ color: #585858;  }
#hue3295		{ color: #bc5a65;  }
#hue3298		{ color: #585858;  }
#hue3300		{ color: #55aa55;  }
#hue3302		{ color: #585858;  }
#hue3304		{ color: #000000;  }
#hue3306		{ color: #bc5a65;  }
#hue3309		{ color: #585858;  }
#hue3311		{ color: #bc5a65;  }
#hue3314		{ color: #585858;  }
#hue3316		{ color: #55aa55;  }
#hue3318		{ color: #585858;  }
#hue3320		{ color: #55aa55;  }
#hue3322		{ color: #585858;  }
#hue3324		{ color: #317ecc;  }
#hue3326		{ color: #585858;  }
#hue3328		{ color: #000000;  }
#hue3330		{ color: #bc5a65;  }
#hue3333		{ color: #585858;  }
#hue3335		{ color: #bc5a65;  }
#hue3338		{ color: #585858;  }
#hue3340		{ color: #55aa55;  }
#hue3342		{ color: #585858;  }
#hue3344		{ color: #000000;  }
#hue3346		{ color: #585858;  }
#hue3348		{ color: #55aa55;  }
#hue3350		{ color: #585858;  }
#hue3352		{ color: #000000;  }
#hue3354		{ color: #585858;  }
#hue3356		{ color: #000000;  }
#hue3358		{ color: #bc5a65;  }
#hue3361		{ color: #585858;  }
#hue3363		{ color: #317ecc;  }
#hue3365		{ color: #585858;  }
#hue3367		{ color: #000000;  }
#hue3369		{ color: #bc5a65;  }
#hue3372		{ color: #585858;  }
#hue3374		{ color: #bc5a65;  }
#hue3377		{ color: #585858;  }
#hue3379		{ color: #bc5a65;  }
#hue3382		{ color: #585858;  }
#hue3384		{ color: #317ecc;  }
#hue3386		{ color: #585858;  }
#hue3388		{ color: #317ecc;  }
#hue3390		{ color: #585858;  }
#hue3392		{ color: #000000;  }
#hue3394		{ color: #bc5a65;  }
#hue3397		{ color: #585858;  }
#hue3399		{ color: #bc5a65;  }
#hue3402		{ color: #585858;  }
#hue3404		{ color: #000000;  }
#hue3406		{ color: #585858;  }
#hue3408		{ color: #000000;  }
#hue3410		{ color: #bc5a65;  }
#hue3413		{ color: #585858;  }
#hue3415		{ color: #000000;  }
#hue3417		{ color: #bc5a65;  }
#hue3420		{ color: #585858;  }
#hue3422		{ color: #55aa55;  }
#hue3424		{ color: #585858;  }
#hue3426		{ color: #af0f91;  }
#hue3428		{ color: #585858;  }
#hue3430		{ color: #000000;  }
#hue3432		{ color: #bc5a65;  }
#hue3435		{ color: #585858;  }
#hue3437		{ color: #000000;  }
#hue3439		{ color: #bc5a65;  }
#hue3442		{ color: #585858;  }
#hue3444		{ color: #bc5a65;  }
#hue3447		{ color: #585858;  }
#hue3449		{ color: #55aa55;  }
#hue3451		{ color: #585858;  }
#hue3453		{ color: #55aa55;  }
#hue3455		{ color: #585858;  }
#hue3457		{ color: #317ecc;  }
#hue3459		{ color: #585858;  }
#hue3461		{ color: #55aa55;  }
#hue3463		{ color: #585858;  }
#hue3465		{ color: #af0f91;  }
#hue3467		{ color: #585858;  }
#hue3469		{ color: #000000;  }
#hue3471		{ color: #bc5a65;  }
#hue3474		{ color: #585858;  }
#hue3476		{ color: #585858;  }
#hue3478		{ color: #b05a65;  }
#hue3480		{ color: #317ecc;  }
#hue3482		{ color: #585858;  }
#hue3484		{ color: #b05a65;  }
#hue3486		{ color: #af0f91;  }
#hue3488		{ color: #585858;  }
#hue3490		{ color: #b05a65;  }
#hue3492		{ color: #bc5a65;  }
#hue3495		{ color: #585858;  }
#hue3497		{ color: #317ecc;  }
#hue3499		{ color: #585858;  }
#hue3501		{ color: #bc5a65;  }
#hue3504		{ color: #585858;  }
#hue3506		{ color: #585858;  }
#hue3508		{ color: #bc5a65;  }
#hue3511		{ color: #585858;  }
#hue3513		{ color: #000000;  }
#hue3515		{ color: #bc5a65;  }
#hue3518		{ color: #585858;  }
#hue3520		{ color: #af0f91;  }
#hue3522		{ color: #585858;  }
#hue3524		{ color: #af0f91;  }
#hue3526		{ color: #585858;  }
#hue3528		{ color: #000000;  }
#hue3530		{ color: #bc5a65;  }
#hue3533		{ color: #585858;  }
#hue3535		{ color: #55aa55;  }
#hue3537		{ color: #585858;  }
#hue3539		{ color: #af0f91;  }
#hue3541		{ color: #585858;  }
#hue3543		{ color: #bc5a65;  }
#hue3546		{ color: #585858;  }
#hue3548		{ color: #317ecc;  }
#hue3550		{ color: #585858;  }
#hue3552		{ color: #bc5a65;  }
#hue3555		{ color: #585858;  }
#hue3557		{ color: #317ecc;  }
#hue3559		{ color: #585858;  }
#hue3561		{ color: #317ecc;  }
#hue3563		{ color: #585858;  }
#hue3565		{ color: #317ecc;  }
#hue3567		{ color: #585858;  }
#hue3569		{ color: #000000;  }
#hue3571		{ color: #bc5a65;  }
#hue3574		{ color: #585858;  }
#hue3576		{ color: #af0f91;  }
#hue3578		{ color: #585858;  }
#hue3580		{ color: #af0f91;  }
#hue3582		{ color: #585858;  }
#hue3584		{ color: #000000;  }
#hue3586		{ color: #bc5a65;  }
#hue3589		{ color: #585858;  }
#hue3591		{ color: #55aa55;  }
#hue3593		{ color: #585858;  }
#hue3595		{ color: #af0f91;  }
#hue3597		{ color: #585858;  }
#hue3599		{ color: #55aa55;  }
#hue3601		{ color: #585858;  }
#hue3603		{ color: #317ecc;  }
#hue3605		{ color: #585858;  }
#hue3607		{ color: #55aa55;  }
#hue3609		{ color: #585858;  }
#hue3611		{ color: #af0f91;  }
#hue3613		{ color: #585858;  }
#hue3615		{ color: #bc5a65;  }
#hue3618		{ color: #585858;  }
#hue3620		{ color: #317ecc;  }
#hue3622		{ color: #585858;  }
#hue3624		{ color: #bc5a65;  }
#hue3627		{ color: #585858;  }
#hue3629		{ color: #317ecc;  }
#hue3631		{ color: #585858;  }
#hue3633		{ color: #317ecc;  }
#hue3635		{ color: #585858;  }
#hue3637		{ color: #317ecc;  }
#hue3639		{ color: #585858;  }
#hue3641		{ color: #000000;  }
#hue3643		{ color: #bc5a65;  }
#hue3646		{ color: #585858;  }
#hue3648		{ color: #af0f91;  }
#hue3650		{ color: #585858;  }
#hue3652		{ color: #af0f91;  }
#hue3654		{ color: #585858;  }
#hue3656		{ color: #000000;  }
#hue3658		{ color: #bc5a65;  }
#hue3661		{ color: #585858;  }
#hue3663		{ color: #55aa55;  }
#hue3665		{ color: #585858;  }
#hue3667		{ color: #af0f91;  }
#hue3669		{ color: #585858;  }
#hue3671		{ color: #55aa55;  }
#hue3673		{ color: #585858;  }
#hue3675		{ color: #317ecc;  }
#hue3677		{ color: #585858;  }
#hue3679		{ color: #55aa55;  }
#hue3681		{ color: #585858;  }
#hue3683		{ color: #af0f91;  }
#hue3685		{ color: #585858;  }
#hue3687		{ color: #55aa55;  }
#hue3689		{ color: #585858;  }
#hue3691		{ color: #af0f91;  }
#hue3693		{ color: #585858;  }
#hue3695		{ color: #bc5a65;  }
#hue3698		{ color: #585858;  }
#hue3700		{ color: #317ecc;  }
#hue3702		{ color: #585858;  }
#hue3704		{ color: #55aa55;  }
#hue3706		{ color: #585858;  }
#hue3708		{ color: #af0f91;  }
#hue3710		{ color: #585858;  }
#hue3712		{ color: #55aa55;  }
#hue3714		{ color: #585858;  }
#hue3716		{ color: #af0f91;  }
#hue3718		{ color: #585858;  }
#hue3720		{ color: #000000;  }
#hue3722		{ color: #bc5a65;  }
#hue3725		{ color: #585858;  }
#hue3727		{ color: #317ecc;  }
#hue3729		{ color: #585858;  }
#hue3731		{ color: #000000;  }
#hue3733		{ color: #bc5a65;  }
#hue3736		{ color: #585858;  }
#hue3738		{ color: #585858;  }
#hue3740		{ color: #b05a65;  }
#hue3742		{ color: #bc5a65;  }
#hue3745		{ color: #585858;  }
#hue3747		{ color: #317ecc;  }
#hue3749		{ color: #585858;  }
#hue3751		{ color: #55aa55;  }
#hue3753		{ color: #585858;  }
#hue3755		{ color: #af0f91;  }
#hue3757		{ color: #585858;  }
#hue3759		{ color: #55aa55;  }
#hue3761		{ color: #585858;  }
#hue3763		{ color: #af0f91;  }
#hue3765		{ color: #585858;  }
#hue3767		{ color: #000000;  }
#hue3769		{ color: #bc5a65;  }
#hue3772		{ color: #585858;  }
#hue3774		{ color: #55aa55;  }
#hue3776		{ color: #585858;  }
#hue3778		{ color: #55aa55;  }
#hue3780		{ color: #585858;  }
#hue3782		{ color: #ad95af;  }
#hue3785		{ color: #585858;  }
#hue3787		{ color: #b05a65;  }
#hue3789		{ color: #bc5a65;  }
#hue3792		{ color: #585858;  }
#hue3794		{ color: #317ecc;  }
#hue3796		{ color: #585858;  }
#hue3798		{ color: #55aa55;  }
#hue3800		{ color: #585858;  }
#hue3802		{ color: #317ecc;  }
#hue3804		{ color: #585858;  }
#hue3806		{ color: #585858;  }
#hue3808		{ color: #b05a65;  }
#hue3810		{ color: #bc5a65;  }
#hue3813		{ color: #585858;  }
#hue3815		{ color: #317ecc;  }
#hue3817		{ color: #585858;  }
#hue3819		{ color: #55aa55;  }
#hue3821		{ color: #585858;  }
#hue3823		{ color: #317ecc;  }
#hue3825		{ color: #585858;  }
#hue3827		{ color: #55aa55;  }
#hue3829		{ color: #585858;  }
#hue3831		{ color: #317ecc;  }
#hue3833		{ color: #585858;  }
#hue3835		{ color: #55aa55;  }
#hue3837		{ color: #585858;  }
#hue3839		{ color: #af0f91;  }
#hue3841		{ color: #585858;  }
#hue3843		{ color: #55aa55;  }
#hue3845		{ color: #585858;  }
#hue3847		{ color: #af0f91;  }
#hue3849		{ color: #585858;  }
#hue3851		{ color: #55aa55;  }
#hue3853		{ color: #585858;  }
#hue3855		{ color: #bc5a65;  }
#hue3858		{ color: #585858;  }
#hue3860		{ color: #317ecc;  }
#hue3862		{ color: #585858;  }
#hue3864		{ color: #55aa55;  }
#hue3866		{ color: #585858;  }
#hue3868		{ color: #317ecc;  }
#hue3870		{ color: #585858;  }
#hue3872		{ color: #55aa55;  }
#hue3874		{ color: #585858;  }
#hue3876		{ color: #317ecc;  }
#hue3878		{ color: #585858;  }
#hue3880		{ color: #55aa55;  }
#hue3882		{ color: #585858;  }
#hue3884		{ color: #000000;  }
#hue3886		{ color: #bc5a65;  }
#hue3889		{ color: #585858;  }
#hue3891		{ color: #bc5a65;  }
#hue3894		{ color: #585858;  }
#hue3896		{ color: #317ecc;  }
#hue3898		{ color: #585858;  }
#hue3900		{ color: #55aa55;  }
#hue3902		{ color: #585858;  }
#hue3904		{ color: #af0f91;  }
#hue3906		{ color: #585858;  }
#hue3908		{ color: #000000;  }
#hue3910		{ color: #bc5a65;  }
#hue3913		{ color: #585858;  }
#hue3915		{ color: #af0f91;  }
#hue3917		{ color: #585858;  }
#hue3919		{ color: #ad95af;  }
#hue3922		{ color: #ad95af;  }
#hue3925		{ color: #585858;  }
#hue3927		{ color: #b05a65;  }
#hue3929		{ color: #bc5a65;  }
#hue3932		{ color: #585858;  }
#hue3934		{ color: #317ecc;  }
#hue3936		{ color: #585858;  }
#hue3938		{ color: #317ecc;  }
#hue3940		{ color: #585858;  }
#hue3942		{ color: #317ecc;  }
#hue3944		{ color: #585858;  }
#hue3946		{ color: #317ecc;  }
#hue3948		{ color: #585858;  }
#hue3950		{ color: #317ecc;  }
#hue3952		{ color: #585858;  }
#hue3954		{ color: #317ecc;  }
#hue3956		{ color: #585858;  }
#hue3958		{ color: #317ecc;  }
#hue3960		{ color: #585858;  }
#hue3962		{ color: #317ecc;  }
#hue3964		{ color: #585858;  }
#hue3966		{ color: #317ecc;  }
#hue3968		{ color: #585858;  }
#hue3970		{ color: #317ecc;  }
#hue3972		{ color: #585858;  }
#hue3974		{ color: #317ecc;  }
#hue3976		{ color: #585858;  }
#hue3978		{ color: #317ecc;  }
#hue3980		{ color: #585858;  }
#hue3982		{ color: #317ecc;  }
#hue3984		{ color: #585858;  }
#hue3986		{ color: #317ecc;  }
#hue3988		{ color: #585858;  }
#hue3990		{ color: #317ecc;  }
#hue3992		{ color: #585858;  }
#hue3994		{ color: #317ecc;  }
#hue3996		{ color: #585858;  }
#hue3998		{ color: #ad95af;  }
#hue4001		{ color: #585858;  }
#hue4003		{ color: #b05a65;  }
#hue4005		{ color: #bc5a65;  }
#hue4008		{ color: #585858;  }
#hue4010		{ color: #317ecc;  }
#hue4012		{ color: #585858;  }
#hue4014		{ color: #317ecc;  }
#hue4016		{ color: #585858;  }
#hue4018		{ color: #317ecc;  }
#hue4020		{ color: #585858;  }
#hue4022		{ color: #317ecc;  }
#hue4024		{ color: #585858;  }
#hue4026		{ color: #317ecc;  }
#hue4028		{ color: #585858;  }
#hue4030		{ color: #317ecc;  }
#hue4032		{ color: #585858;  }
#hue4034		{ color: #317ecc;  }
#hue4036		{ color: #585858;  }
#hue4038		{ color: #317ecc;  }
#hue4040		{ color: #585858;  }
#hue4042		{ color: #585858;  }
#hue4044		{ color: #b05a65;  }
#hue4046		{ color: #bc5a65;  }
#hue4049		{ color: #585858;  }
#hue4051		{ color: #585858;  }
#hue4053		{ color: #b05a65;  }
#hue4055		{ color: #317ecc;  }
#hue4057		{ color: #585858;  }
#hue4059		{ color: #b05a65;  }
#hue4061		{ color: #bc5a65;  }
#hue4064		{ color: #585858;  }
#hue4066		{ color: #bc5a65;  }
#hue4069		{ color: #585858;  }
#hue4071		{ color: #ad95af;  }
#hue4074		{ color: #bc5a65;  }
#hue4077		{ color: #585858;  }
#hue4079		{ color: #317ecc;  }
#hue4081		{ color: #585858;  }
#hue4083		{ color: #bc5a65;  }
#hue4086		{ color: #585858;  }
#hue4088		{ color: #bc5a65;  }
#hue4091		{ color: #585858;  }
#hue4093		{ color: #317ecc;  }
#hue4095		{ color: #585858;  }
#hue4097		{ color: #295f94;  }
#hue4100		{ color: #585858;  }
#hue4102		{ color: #295f94;  }
#hue4105		{ color: #585858;  }
#hue4107		{ color: #585858;  }
#hue4109		{ color: #b05a65;  }
#hue4111		{ color: #bc5a65;  }
#hue4114		{ color: #585858;  }
#hue4116		{ color: #317ecc;  }
#hue4118		{ color: #585858;  }
#hue4120		{ color: #bc5a65;  }
#hue4123		{ color: #585858;  }
#hue4125		{ color: #585858;  }
#hue4127		{ color: #b05a65;  }
#hue4129		{ color: #bc5a65;  }
#hue4132		{ color: #585858;  }
#hue4134		{ color: #bc5a65;  }
#hue4137		{ color: #585858;  }
#hue4139		{ color: #317ecc;  }
#hue4141		{ color: #585858;  }
#hue4143		{ color: #317ecc;  }
#hue4147		{ color: #585858;  }
#hue4149		{ color: #585858;  }
#hue4151		{ color: #b05a65;  }
#hue4153		{ color: #bc5a65;  }
#hue4156		{ color: #585858;  }
#hue4158		{ color: #55aa55;  }
#hue4160		{ color: #585858;  }
#hue4162		{ color: #585858;  }
#hue4164		{ color: #b05a65;  }
#hue4166		{ color: #bc5a65;  }
#hue4169		{ color: #585858;  }
#hue4171		{ color: #585858;  }
#hue4173		{ color: #ad95af;  }
#hue4176		{ color: #585858;  }
#hue4178		{ color: #b05a65;  }
#hue4180		{ color: #585858;  }
#hue4182		{ color: #000000;  }
#hue4184		{ color: #bc5a65;  }
#hue4187		{ color: #585858;  }
#hue4189		{ color: #000000;  }
#hue4191		{ color: #af0f91;  }
#hue4193		{ color: #585858;  }
#hue4195		{ color: #bc5a65;  }
#hue4198		{ color: #585858;  }
#hue4200		{ color: #000000;  }
#hue4202		{ color: #af0f91;  }
#hue4204		{ color: #585858;  }
#hue4206		{ color: #000000;  }
#hue4208		{ color: #585858;  }
#hue4210		{ color: #000000;  }
#hue4212		{ color: #bc5a65;  }
#hue4215		{ color: #585858;  }
#hue4217		{ color: #585858;  }
#hue4219		{ color: #000000;  }
#hue4221		{ color: #bc5a65;  }
#hue4224		{ color: #585858;  }
#hue4226		{ color: #000000;  }
#hue4228		{ color: #bc5a65;  }
#hue4231		{ color: #585858;  }
#hue4233		{ color: #bc5a65;  }
#hue4236		{ color: #585858;  }
#hue4238		{ color: #55aa55;  }
#hue4240		{ color: #585858;  }
#hue4242		{ color: #55aa55;  }
#hue4244		{ color: #585858;  }
#hue4246		{ color: #317ecc;  }
#hue4248		{ color: #585858;  }
#hue4250		{ color: #55aa55;  }
#hue4252		{ color: #585858;  }
#hue4254		{ color: #af0f91;  }
#hue4256		{ color: #585858;  }
#hue4258		{ color: #000000;  }
#hue4260		{ color: #bc5a65;  }
#hue4263		{ color: #585858;  }
#hue4265		{ color: #585858;  }
#hue4267		{ color: #000000;  }
#hue4269		{ color: #585858;  }
#hue4271		{ color: #000000;  }
#hue4273		{ color: #bc5a65;  }
#hue4276		{ color: #585858;  }
#hue4278		{ color: #000000;  }
#hue4280		{ color: #585858;  }
#hue4282		{ color: #000000;  }
#hue4284		{ color: #bc5a65;  }
#hue4287		{ color: #585858;  }
#hue4289		{ color: #000000;  }
#hue4291		{ color: #af0f91;  }
#hue4293		{ color: #000000;  }
#hue4295		{ color: #585858;  }
#hue4297		{ color: #000000;  }
#hue4299		{ color: #af0f91;  }
#hue4301		{ color: #585858;  }
#hue4303		{ color: #000000;  }
#hue4305		{ color: #bc5a65;  }
#hue4308		{ color: #585858;  }
#hue4310		{ color: #55aa55;  }
#hue4312		{ color: #585858;  }
#hue4314		{ color: #bc5a65;  }
#hue4317		{ color: #585858;  }
#hue4319		{ color: #000000;  }
#hue4321		{ color: #bc5a65;  }
#hue4324		{ color: #585858;  }
#hue4326		{ color: #000000;  }
#hue4328		{ color: #bc5a65;  }
#hue4331		{ color: #585858;  }
#hue4333		{ color: #bc5a65;  }
#hue4336		{ color: #585858;  }
#hue4338		{ color: #55aa55;  }
#hue4340		{ color: #585858;  }
#hue4342		{ color: #000000;  }
#hue4344		{ color: #bc5a65;  }
#hue4347		{ color: #585858;  }
#hue4349		{ color: #585858;  }
#hue4351		{ color: #000000;  }
#hue4353		{ color: #585858;  }
#hue4355		{ color: #000000;  }
#hue4357		{ color: #bc5a65;  }
#hue4360		{ color: #585858;  }
#hue4362		{ color: #000000;  }
#hue4364		{ color: #585858;  }
#hue4366		{ color: #000000;  }
#hue4368		{ color: #bc5a65;  }
#hue4371		{ color: #585858;  }
#hue4373		{ color: #000000;  }
#hue4375		{ color: #af0f91;  }
#hue4377		{ color: #000000;  }
#hue4379		{ color: #585858;  }
#hue4381		{ color: #000000;  }
#hue4383		{ color: #af0f91;  }
#hue4385		{ color: #585858;  }
#hue4387		{ color: #000000;  }
#hue4389		{ color: #bc5a65;  }
#hue4392		{ color: #585858;  }
#hue4394		{ color: #55aa55;  }
#hue4396		{ color: #585858;  }
#hue4398		{ color: #bc5a65;  }
#hue4401		{ color: #585858;  }
#hue4403		{ color: #317ecc;  }
#hue4405		{ color: #585858;  }
#hue4407		{ color: #000000;  }
#hue4409		{ color: #bc5a65;  }
#hue4412		{ color: #585858;  }
#hue4414		{ color: #000000;  }
#hue4416		{ color: #bc5a65;  }
#hue4419		{ color: #585858;  }
#hue4421		{ color: #bc5a65;  }
#hue4424		{ color: #585858;  }
#hue4426		{ color: #000000;  }
#hue4428		{ color: #bc5a65;  }
#hue4431		{ color: #585858;  }
#hue4433		{ color: #000000;  }
#hue4435		{ color: #585858;  }
#hue4437		{ color: #55aa55;  }
#hue4439		{ color: #585858;  }
#hue4441		{ color: #af0f91;  }
#hue4443		{ color: #585858;  }
#hue4445		{ color: #000000;  }
#hue4447		{ color: #ad95af;  }
#hue4450		{ color: #bc5a65;  }
#hue4453		{ color: #585858;  }
#hue4455		{ color: #585858;  }
#hue4457		{ color: #000000;  }
#hue4459		{ color: #585858;  }
#hue4461		{ color: #000000;  }
#hue4463		{ color: #bc5a65;  }
#hue4466		{ color: #585858;  }
#hue4468		{ color: #000000;  }
#hue4470		{ color: #585858;  }
#hue4472		{ color: #000000;  }
#hue4474		{ color: #bc5a65;  }
#hue4477		{ color: #585858;  }
#hue4479		{ color: #000000;  }
#hue4481		{ color: #af0f91;  }
#hue4483		{ color: #000000;  }
#hue4485		{ color: #585858;  }
#hue4487		{ color: #000000;  }
#hue4489		{ color: #af0f91;  }
#hue4491		{ color: #585858;  }
#hue4493		{ color: #000000;  }
#hue4495		{ color: #bc5a65;  }
#hue4498		{ color: #585858;  }
#hue4500		{ color: #55aa55;  }
#hue4502		{ color: #585858;  }
#hue4504		{ color: #bc5a65;  }
#hue4507		{ color: #585858;  }
#hue4509		{ color: #317ecc;  }
#hue4511		{ color: #585858;  }
#hue4513		{ color: #000000;  }
#hue4515		{ color: #bc5a65;  }
#hue4518		{ color: #585858;  }
#hue4520		{ color: #55aa55;  }
#hue4522		{ color: #585858;  }
#hue4524		{ color: #af0f91;  }
#hue4526		{ color: #000000;  }
#hue4528		{ color: #585858;  }
#hue4530		{ color: #000000;  }
#hue4532		{ color: #bc5a65;  }
#hue4535		{ color: #585858;  }
#hue4537		{ color: #000000;  }
#hue4539		{ color: #ad95af;  }
#hue4542		{ color: #bc5a65;  }
#hue4545		{ color: #585858;  }
#hue4547		{ color: #000000;  }
#hue4549		{ color: #bc5a65;  }
#hue4552		{ color: #585858;  }
#hue4554		{ color: #bc5a65;  }
#hue4557		{ color: #585858;  }
#hue4559		{ color: #55aa55;  }
#hue4561		{ color: #585858;  }
#hue4563		{ color: #000000;  }
#hue4565		{ color: #bc5a65;  }
#hue4568		{ color: #585858;  }
#hue4570		{ color: #bc5a65;  }
#hue4573		{ color: #585858;  }
#hue4575		{ color: #af0f91;  }
#hue4577		{ color: #585858;  }
#hue4579		{ color: #af0f91;  }
#hue4581		{ color: #585858;  }
#hue4583		{ color: #000000;  }
#hue4585		{ color: #bc5a65;  }
#hue4588		{ color: #585858;  }
#hue4590		{ color: #317ecc;  }
#hue4592		{ color: #585858;  }
#hue4594		{ color: #000000;  }
#hue4596		{ color: #bc5a65;  }
#hue4599		{ color: #585858;  }
#hue4601		{ color: #317ecc;  }
#hue4603		{ color: #585858;  }
#hue4605		{ color: #000000;  }
#hue4607		{ color: #bc5a65;  }
#hue4610		{ color: #585858;  }
#hue4612		{ color: #585858;  }
#hue4614		{ color: #000000;  }
#hue4616		{ color: #585858;  }
#hue4618		{ color: #000000;  }
#hue4620		{ color: #bc5a65;  }
#hue4623		{ color: #585858;  }
#hue4625		{ color: #000000;  }
#hue4627		{ color: #bc5a65;  }
#hue4630		{ color: #585858;  }
#hue4632		{ color: #55aa55;  }
#hue4634		{ color: #585858;  }
#hue4636		{ color: #bc5a65;  }
#hue4639		{ color: #585858;  }
#hue4641		{ color: #55aa55;  }
#hue4643		{ color: #585858;  }
#hue4645		{ color: #af0f91;  }
#hue4647		{ color: #585858;  }
